html, body, img, p {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.hidden {
  display: none;
}
#container {
  width: 700px;
  font-size: 0;
  
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: start;
}


.class {
  width: 214px;
  height: 120px;
  background-color: aqua;
}
